<!DOCTYPE html>
<html>
<head>
  <title>BcmsBrowserspree</title>
  <%= stylesheet_link_tag    "bcms_browserspree/application", media: "all" %>
  <%= javascript_include_tag "bcms_browserspree/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
